{% extends 'layout.html' %}


{% block content %}
    <div style="margin-bottom: 5px">

        <a  href="{% url 'policy_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 新建</a>
    </div>
    <table class="table table-striped " style="text-align: center">
      <thead>
        <tr >
          <th style="text-align: center">id</th>
          <th style="text-align: center">数量</th>
          <th style="text-align: center">价格</th>
          <th style="text-align: center">操作</th>
        </tr>
      </thead>
      <tbody>
      {% for row in  queryset %}
          <tr>
              <th scope="row" style="text-align: center">{{ row.id }}</th>
              <td>{{ row.count }}</td>
              <td>{{ row.price }}</td>
              <td>
                  <a href="{% url 'policy_edit' pk=row.id  %}" class="btn btn-primary btn-sm">编辑</a>
                  <a href="{% url 'policy_delete' pk=row.id  %}" class="btn btn-danger btn-sm">删除</a>
              </td>
          </tr>

      {% endfor %}
      </tbody>
    </table>

{% endblock %}